TicimaxWebServicesSample/Connected Services/SiparisServis/SiparisServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ticimax.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ticimax.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBLPaketlemeDurum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BLPaketlemeDurum" nillable="true" type="tns:BLPaketlemeDurum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBLPaketlemeDurum" nillable="true" type="tns:ArrayOfBLPaketlemeDurum" />
  <xs:complexType name="BLPaketlemeDurum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aktif" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Islem" type="xs:int" />
      <xs:element minOccurs="0" name="Tanim" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BLPaketlemeDurum" nillable="true" type="tns:BLPaketlemeDurum" />
</xs:schema>